[submodule "SimpleGraphic"]
	path = SimpleGraphic
	url = git@github.com:stevschmid/PathOfBuilding-SimpleGraphic.git
	branch = macos-port
[submodule "PathOfBuilding"]
	path = PathOfBuilding
	url = https://github.com/PathOfBuildingCommunity/PathOfBuilding.git
	branch = master
[submodule "PathOfBuilding-PoE2"]
	path = PathOfBuilding-PoE2
	url = https://github.com/PathOfBuildingCommunity/PathOfBuilding-PoE2.git
